<% content_for :nav do %>
<li><a href="/blog/"><i title="回部落格" class="icon-left-open tooltip" data-tooltip-pos="left"></i></a></li>
<li><a href="/"><i title="回首頁" class="icon-home-1 tooltip" data-tooltip-pos="right"></i></a></li>
<% end %>

<% wrap_layout :layout do %>
<!-- .blog-single -->
<div class="readable-content blog-single">
  <!-- .hentry -->
  <article class="post type-post format-standard hentry">
    <!-- .entry-header -->
    <header class="entry-header">
      <h1 class="entry-title"><%= current_article.title %></h1>
    </header>
    <!-- .entry-header -->
    <!-- .entry-meta -->
    <div class="entry-meta">
      <span class="posted-by"> 
        由
        <a class="url fn n" href="/#/about" title="View all posts by ahmetsali" rel="author">大兜</a>
      </span>
      <span class="posted-on">
        在
        <a href="#" title="{{ current_article.date | date: "%r" }}" rel="bookmark"><time class="entry-date" datetime="<%= current_article.date.xmlschema %>"><%= I18n.l current_article.date, format: :date %></time></a>
      </span>
      <span class="posted-in">
        發表於
        <%= link_to current_article.data.category, category_path(current_article.data.category), title: "瀏覽所有 #{current_article.data.category} 的文章" %>
      </span>
    </div>
    <!-- .entry-meta -->
    <!-- .entry-content -->
    <div class="entry-content">
      <%= yield %>
      <% if current_article.data.download || current_article.data.preview || current_article.data.github %><!-- .project-action -->
      <div class="project-action">
        <% if current_article.data.download %><a href="<%= current_article.data.download %>" class="button button-icon big blue"><i class="fa fa-cloud-download"></i>DOWNLOAD</a><% end %>
        <% if current_article.data.preview %><a href="<%= current_article.data.preview %>" class="button button-icon big grass"><i class="fa fa-eye"></i>PREVIEW</a><% end %>
        <% if current_article.data.github %><a href="<%= current_article.data.github %>" class="button button-icon big red"><i class="fa fa-github"></i>GITHUB</a><% end %>
      </div>
      <!-- .project-action --><% end %>
    </div>
    <% unless current_article.tags.empty? %><!-- .entry-meta -->
    <footer class="entry-meta">
      <h3>標籤</h3>
      <% current_article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag), rel: :tag %>
      <% end %>
    </footer>
    <!-- .entry-meta --><% end %>
  </article>
  <!-- .hentry -->
  <!-- .about-author -->
  <aside class="about-author">
    <h3>關於作者</h3>
    <!-- .author-bio --> 
    <div class="author-bio">
      <!-- .author-img --> 
      <div class="author-img">
        <a href="/#/about"><img alt="大兜" src="/images/site/avatar.png" class="avatar"></a>
      </div>
      <!-- .author-img -->
      <!-- .author-info -->
      <div class="author-info">
        <h4 class="author-name">大兜</h4>
        <p>身份複雜的工程師、研究生、SOHO 族、創業中。喜歡 Ruby、Java、C，愛好寫程式，以此為樂，並以此維生。</p>
      </div>
      <!-- .author-info -->
    </div>
    <!-- .author-bio --> 
  </aside>
  <!-- .about-author -->
  <!-- .nav-single -->
  <nav class="nav-single row">
    <% if current_article.previous_article %><div class="nav-previous col-sm-6">
    <h4>上一篇</h4>
    <a href="<%= current_article.previous_article.url %>" rel="prev"><span class="meta-nav">←</span> <%= current_article.previous_article.title %></a>
  </div><% end %>
  <% if current_article.next_article %><div class="nav-next col-sm-6">
  <h4>下一篇</h4>
  <a href="<%= current_article.next_article.url %>" rel="next"><%= current_article.next_article.title %> <span class="meta-nav">→</span></a>
</div><% end %>
</nav>
<!-- .nav-single --> 
<!-- #comments -->
{% include disqus.html %}
</div>
<!-- .blog-single --> 
<% end %>