---
page_layout: one
---
<% content_for :nav do %>
<li><a href="#/about">關於我</a></li>
<li><a href="#/portfolio">作品</a></li>
<li><a href="#/contact">聯絡</a></li>
<li><a href="#/blog">部落格</a></li>
<li><a href="#/resume">簡歷</a></li>
<% end %>

<%= partial 'about' %>
<%= partial 'portfolio' %>
<%= partial 'contact' %>
<%= partial 'blog' %>
<%= partial 'resume' %>