---
page_layout: one
---
<% content_for :nav do %>
<li><a href="#/about"><%= I18n.t('nav.about_me') %></a></li>
<li><a href="#/portfolio"><%= I18n.t('nav.portfolio') %></a></li>
<li><a href="#/contact"><%= I18n.t('nav.contact') %></a></li>
<li><a href="#/blog"><%= I18n.t('nav.blog') %></a></li>
<li><a href="#/resume"><%= I18n.t('nav.resume') %></a></li>
<% end %>

<%= partial 'about' %>
<%= partial 'portfolio' %>
<%= partial 'contact' %>
<%= partial 'blog' %>
<%= partial 'resume' %>