<!-- PAGE : ABOUT -->
<section id="about" class="page">
  <div class="content">
    <!-- row -->
    <div class="row">
      <!-- column 8/12 -->
      <div class="col-md-8">
        <h2 class="section-title"><span><i class="icon-guest"></i><%= I18n.t 'about.a_little_about_me' %></span></h2>
        <!-- intro -->
        <%= I18n.t 'about.intro' %>
        <!-- intro -->
      </div>
      <!-- column 8/12 -->
      <!-- column 4/12 -->
      <div class="col-md-4">
        <h2 class="section-title"><span><i class="icon-plurk"></i><%= I18n.t 'about.latest_news' %></span></h2>
        <!-- <div id="latest-tweets" class="widget-twitter" data-twitterId="547449185276919810" data-tweet-count="2"></div> -->
        <iframe src="//www.plurk.com/getWidget?uid=5874158&amp;u_info=2&amp;bg=FFFFFF&amp;tl=FFFFFF&amp;use_cache=0" width="100%" height="375"></iframe>
      </div>
      <!-- column 4/12 -->
    </div>
    <!-- row -->
    <h2 class="section-title"><span><i class="fa fa-magic"></i><%= I18n.t 'about.specialty' %></span></h2>
    <!-- SERVICES -->
    <div class="row">
      <% I18n.t('about.specialties').each_with_index do |specialty, i| %>
      <div class="col-sm-6 col-md-3">
        <!-- service -->
        <div class="service color<%= i + 1 %>">
          <i class="<%= specialty[:icon_class] %>"></i>
          <h4><%= specialty[:title] %></h4>
          <p><%= specialty[:description] %></p>
        </div>
        <!-- service -->
      </div>
      <% end %>
    </div>
    <!-- SERVICES -->
    <h2 class="section-title"><span><i class="fa fa-trophy"></i><%= I18n.t 'about.fun_fact' %></span></h2>
    <!-- FUN FACT -->
    <div class="row">
      <% I18n.t('about.fun_facts').each do |fact| %>
      <div class="col-sm-6 col-md-3">
        <!-- fun-fact -->
        <div class="fun-fact">
          <i class="<%= fact[:icon_class] %>"></i>
          <h4><%= fact[:title] %></h4>
        </div>
        <!-- fun-fact -->
      </div>
      <% end %>
    </div>
    <!-- FUN FACT -->
    <h2 class="section-title"><span><%= I18n.t 'about.client' %></span></h2>
    <!-- CLIENTS -->
    <div class="row">
      <% I18n.t('about.clients').each do |client| %>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <!-- client -->
        <div class="client">
          <%= link_to image_tag(client[:image], alt: client[:name], title: client[:name]), client[:url], target: :_blank %>
        </div>
        <!-- client -->
      </div>
      <% end %>
    </div>
    <!-- CLIENTS -->
  </div>
</section>
<!-- PAGE : ABOUT -->