<!-- PAGE : BLOG -->
<section id="blog" class="page">
  <div class="content">
    <h2 class="section-title center"><span><i class="icon-book-open"></i>近期文章</span></h2>
    <!-- LATEST POSTS -->
    <div class="latest-posts media-grid" data-layout="fitRows">
      <% blog.articles.first(6).each_with_index do |article, i| %>
      <!-- post -->
      <article class="hentry media-cell">
        <div class="media-box">
          <%= image_tag article_thumb_path(article), alt: :'post-image' %>
          <div class="mask"></div>
          <a href="<%= article.url %>"></a>
        </div>
        <header class="media-cell-desc">
          <span title="{{ article.date | date: "%Y" }}" class="date"><span class="day"><%= article.date.mday %></span><%= I18n.l article.date, format: '%b' %></span>
          <h3><a href="<%= article.url %>"><%= article.title %></a></h3>
        </header>
      </article>
      <!-- post -->
      <% end %>
    </div>
    <!-- LATEST POSTS -->
    <p class="launch"><a class="button primary" href="/blog">更多</a></p>
  </div>
</section>
<!-- PAGE : BLOG -->