<!-- PAGE : PORTFOLIO -->
<section id="portfolio" class="portfolio page">
  <div class="content">
    <h2 class="section-title center"><span><i class="icon-leaf"></i><%= I18n.t 'portfolio.my_works' %></span></h2>
    <!--FILTERS-->
    <ul id="filters" class="filters">
      <li class="current"><a href="#" data-filter="*"><%= I18n.t 'portfolio.all' %></a></li>
      <% I18n.t('portfolio.work_types').each do |type_class, type_name| %>
      <li><a href="#" data-filter=".<%= type_class %>"><%= type_name %></a></li>
      <% end %>
    </ul>
    <!--FILTERS-->
    <!-- PORTFOLIO -->
    <div class="portfolio-items media-grid" data-layout="masonry">
      <% I18n.t('portfolio.works').each do |work| %>
      <% next if work[:disable] %>
      <!-- portfolio-item -->
      <div class="media-cell <%= work[:type] %> <%= work[:media] if work[:media] %> hentry <%= :x2 if work[:big] %>">
        <div class="media-box">
          <%= image_tag work[:image], alt: :'portfolio-post' %>
          <div class="mask">
            <% if work[:media] %>
            <a href="<%= work[:url] %>" title="<%= work[:title] %>" data-lightbox-gallery="fancybox-item-03" class="lightbox iframe" rel="fancybox-item-03"></a>
            <% else %>
            <%= link_to nil, work[:url], target: :_blank %>
            <% end %>
          </div>
        </div>
        <div class="media-cell-desc">
          <h3><%= work[:title] %></h3>
          <p class="category"><%= work[:category] %></p>
        </div>
      </div>
      <!-- portfolio-item --> 
      <% end %>
    </div>
    <!-- PORTFOLIO -->
  </div>
  <!-- CONTENT -->
</section>
<!-- PAGE : PORTFOLIO -->