<!-- PAGE : RESUME -->
<section id="resume" class="page">
  <div class="content">
    <!-- CONTENT -->
    <!-- row -->
    <div class="row">
      <%= partial 'timeline' %>
      <!-- col 6/12 -->
      <div class="col-md-6">
        <%= partial 'skills' %>
        <%#= partial 'testimonials' %>
        <h2 class="section-title"><span><i class="icon-doc-alt"></i><%= t('resume.download_my_cv') %></span></h2>
        <p><%= t('resume.download_cv_desc') %></p>
        <!-- DOWNLOAD BUTTON -->
        <div class="download-button">
          <a href="/docs/resume.pdf" target="_blank" class="button primary"><%= t('resume.download_cv') %></a>
        </div>
        <!-- DOWNLOAD BUTTON -->
        <h2 class="section-title"><span><i class="icon-linkedin"></i><%= t('resume.view_my_linkedin_profile') %></span></h2>
        <p><%= t('resume.view_my_linkedin_profile_desc') %></p>
        <!-- DOWNLOAD BUTTON -->
        <div class="download-button">
          <a href="#" class="button primary"><%= t('resume.my_linkedin_profile') %></a>
        </div>
        <!-- DOWNLOAD BUTTON -->
      </div>
      <!-- col 6/12 -->
    </div>             
    <!-- row -->           
  </div>
  <!-- CONTENT -->
</section>
<!-- PAGE : RESUME -->