<!-- col 6/12 -->
<div class="col-md-6">
    <!-- timeline -->
    <div class="timeline">
      <h2><i class="fa fa-flask"></i><%= t('resume.timeline.work_history') %></h2>
      <% t('resume.timeline.works').each_with_index do |work, index| %>
      <div class="event<%= ' current' if index == 0 %>">
        <span class="date"><%= work[:year] %></span>
        <h4><%= work[:title] %></h4>
        <h5><%= work[:company] %></h5>
        <p><%= work[:summary] %></p>
      </div>
      <% end %>
    </div>
    <!-- timeline -->
    <!-- timeline -->
    <div class="timeline">
      <h2><i class="icon-college"></i><%= t('resume.timeline.education_history') %></h2>
      <% t('resume.timeline.educations').each do |education| %>
      <div class="event">
        <span class="date"><%= education[:year] %></span>
        <h4><%= education[:department] %></h4>
        <h5><%= education[:school] %></h5>
        <p><%= education[:summary] %></p>
      </div>
      <% end %>
    </div>
    <!-- timeline -->
</div> 
<!-- col 6/12 -->