---
title: 部落格
pageable: true
---
<% content_for :meta do %>
<title><%= config[:site_name] %></title>
<meta name="description" content="<%= config[:blog_description] %>">
<meta name="keywords" content="<%= I18n.t 'site.keywords' %>">
<meta property="og:title" content="<%= config[:site_name] %>">
<meta property="og:description" content="<%= config[:blog_description] %>">
<meta property="og:type" content="website">
<meta property="og:image" content="<%= page_image %>">
<% end %>

<% content_for :nav do %>
<li><a href="/"><i title="回首頁" class="icon-home-1 tooltip" data-tooltip-pos="left"></i></a></li>
<li><a><i title="搜尋" class="search-link fa fa-search tooltip" data-tooltip-pos="right"></i></a></li>
<% end %>

<!-- .blog-posts -->
<div class="blog-posts readable-content">
  <% page_articles.each do |article| %>
  <!-- .post -->
  <article class="post type-post hentry">
    <!-- .entry-meta -->
    <footer class="entry-meta">
      <span class="post-format"></span>
      <span title="<%= article.date.year %>" class="entry-date"><span class="day"><%= article.date.mday %></span><%= I18n.l article.date, format: '%b' %></span>
      <span class="entry-comment"><span class="count disqus-comment-count" data-disqus-url="<%= config[:site_url] + article.url %>#disqus_thread"></span>留言</span>
    </footer>
    <!-- .entry-meta -->
    <!-- .entry-header -->
    <header class="entry-header">
      <h1 class="entry-title">
        <a href="<%= article.url %>" rel="bookmark"><%= article.title %></a>
      </h1>
    </header>
    <!-- .entry-header -->
    <!-- .entry-content -->
    <div class="entry-content">
      <p><%= article.summary %>
        <a href="<%= article.url %>" class="more-link">繼續閱讀 <span class="meta-nav">→</span></a></p>
      </div>
      <!-- .entry-content -->
    </article>
    <!-- .post -->
    <% end %>
    <!-- post nav -->
    <nav class="navigation" role="navigation">
        <% if next_page %><div class="nav-previous"><a href="<%= next_page.url %>"><span class="meta-nav">←</span> 更舊</a></div><% end %>
        <% if prev_page %><div class="nav-next"><a href="<%= prev_page.url %>">更新<span class="meta-nav">→</span></a></div><% end %>
    </nav>
    <!-- post nav -->
    <!-- post pagination -->
    <nav class="post-pagination">
      <!--<ul class="pagination">
        <li class="pagination-first"><a href="#"> First </a></li>
        <li class="pagination-prev"><a href="#" rel="prev"> « </a></li>
        <li class="pagination-num"><a href="#"> 1 </a></li>
        <li class="pagination-num current"><a href="#"> 2 </a></li>
        <li class="pagination-num"><a href="#"> 3 </a></li>
        <li class="pagination-next"><a href="#" rel="next"> » </a></li>
        <li class="pagination-last"><a href="#"> Last </a> </li>
      </ul>-->
    </nav>
    <!-- post pagination -->
  </div>
<!-- .blog-posts -->
